@model IEnumerable<Capluga.Entities.FacturaCursoEnt>
@{
    ViewBag.Title = "Pago Curso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Pago Curso</h2>
            <br>
            @if (ViewBag.MensajeUsuario != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.MensajeUsuario
                </div>
            }
            <div class="container">
                @if (Model.Any())
                {
                    <div class="table-responsive">
                        <table id="DataTable" class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>MasterPurchaseID</th>

                                    <th>Estado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detail in Model)
                                {
                                    <tr>
                                        <td>@detail.MasterPurchaseCurseID</td>


                                        <td>@detail.PaymentStatus</td>
                                        <td style="text-align:center">
                                            @if (detail.PaymentStatus == "PENDIENTE")
                                            {
                                                <a href="#" onclick="confirmStateChange('@Url.Action("ActualizarEstadoPC", "Registeredcourses", new { q = detail.MasterPurchaseCurseID })')">
                                                    <i class="fa fa-refresh fa-lg"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span>No disponible</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                        No hay carritos registrados en este momento
                    </div>
                }
            </div>
        </div>
    </div>
</div>
