@model IEnumerable<Capluga.Entities.RoleEnt>
@{
    ViewBag.Title = "Consulta Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Roles</h2>

            @if (Model.Count() > 0)
            {

                <table id="DataTable" class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>

                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.RoleID</td>
                                <td>@item.RolName</td>



                                <td style="text-align:center">
                                    <!-- Acciones como editar o eliminar -->
                                    <a href="@Url.Action("ActualizarRol", "Rol", new { q = item.RoleID })"><i class="fa fa-edit fa-lg"></i>&nbsp;&nbsp;</a>
                                    &nbsp;&nbsp;&nbsp;
                                   
                                </td>

                                <td style="text-align:center">
                                    <a href="#" onclick="confirmDelete('@Url.Action("EliminarRol", "Rol", new { q = item.RoleID })')">
                                        <i class="fa fa-remove fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                    No hay productos en este momento
                </div>
            }
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function confirmDelete(url) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Eliminar el Rol",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url; // Redirige para eliminar la cita si el usuario confirma
            }
        });
    }
</script>