    <!-- Pie de página -->
<style>
    footer {
        position: fixed;
        bottom: 0;
    }
</style>
<footer class="footer">

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="copyright_content d-flex flex-lg-row flex-column align-items-lg-center justify-content-start">
                        <div class="cr">
                        </div>
                        <div class="footer_social ml-lg-auto">
                            <ul>
                                <li><a href="https://www.instagram.com/caplugacr?igsh=MXB0bGJxenBmYW01cQ==" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
                                <li><a href="https://www.facebook.com/share/8p33ioNg9jM1rE8A/?mibextid=qi2Omg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                                <li><a href="tel:+50684057710"><i class="fa fa-phone" target="_blank"></i>+506 8405 7710</a></li>
                                <li><a href="mailto:capluga2020@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>capluga2020@gmail.com</a></li>
                                <li><a href="https://maps.app.goo.gl/xyx6xkhJQtfSrDk36" target="_blank"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;Cuidad Colón, San José, Costa Rica</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Importa React, React DOM (web)-->
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<!-- Importa locales-->
<script src="~/Template/js/jquery-3.2.1.min.js"></script>
<script src="~/Template/styles/bootstrap4/popper.js"></script>
<script src="~/Template/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/Template/plugins/greensock/TweenMax.min.js"></script>
<script src="~/Template/plugins/greensock/TimelineMax.min.js"></script>
<script src="~/Template/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="~/Template/plugins/greensock/animation.gsap.min.js"></script>
<script src="~/Template/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="~/Template/plugins/progressbar/progressbar.min.js"></script>
<script src="~/Template/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/Template/plugins/easing/easing.js"></script>
<script src="~/Template/plugins/parallax-js-master/parallax.min.js"></script>